@font-face{
    font-family: AngryBirds;
    src: url(fonts/AngryBirds\ Regular\ 400.ttf);
}

#score-div{
    position: absolute;
    top: 50vmin;
    left: 50vmax;
    z-index: 1;
}

#score{
    font-family: AngryBirds;
    font-weight: bolder;
    font-size: 1.5vmax;
    z-index: 1;
}