@font-face{
    font-family: AngryBirds;
    src: url(fonts/AngryBirds\ Regular\ 400.ttf);
}
body {
    margin: 0;
    background-image: url('resources/background.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
#canvas {
    display: block;
    background-image: url('resources/in-game-background.png');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
#title{
    font-family: AngryBirds;
    font-weight: bolder;
    font-size: 4.5vmax;
}

#div-play-game{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#div-play-game div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#play-button {
    height:15vmin; 
    width:30vmax; 
    border-radius: 4vmin;
    background-color: transparent;
    border: 1vmin solid #ffa000;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
}

#div-commands{
    padding-bottom: 5vmin;
}

#menù{
    position: fixed;
    margin-top: 5%;
    margin-right: 5%;
    padding-bottom: 5vmin;
}

#commands-button {
    height:10vmin; 
    width:20vmax; 
    border-radius: 4vmin;
    background-color: transparent;
    border: 1vmin solid #ffa000;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    padding-bottom: 10vmin;
}

#menù-button {
    position: fixed;
    margin-top: 5%;
    margin-right: 5%;
    height:10vmin; 
    width:20vmax; 
    border-radius: 4vmin;
    background-color: transparent;
    border: 1vmin solid #ffa000;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    padding-bottom: 10vmin;
    z-index: 100;
}

#play-button:hover{
    background-color: #ffb300;
}

#play-button:focus{
    outline-style: none;
}

#commands-button:hover{
    background-color: #ffb300;
}

#commands-button:focus{
    outline-style: none;
}

#menù-button:hover{
    background-color: #ffb300;
}

#menù-button:focus{
    outline-style: none;
}

#play-text{
    font-family: AngryBirds;
    font-weight: bolder;
    font-size: 4.5vmax;
}

#commands-text{
    font-family: AngryBirds;
    font-weight: bolder;
    font-size: 3.5vmax;
}

#menù-text{
    font-family: AngryBirds;
    font-weight: bolder;
    font-size: 3.5vmax;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #ffb300;
    margin-top: 30vmin;
    padding-bottom: 4vmin;
    border: 1vmin solid #ffa000;
  }

  .modal-content li{
    font-family: AngryBirds;
    font-weight: bold;
    font-size: 1vmax;
    padding: 0.5vmin;
  }

  /* The Close Button */
  .close {
    color: #000000;
    padding-left: 95vmax;
    float: inline-end;
    font-size: 3vmax;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modalInGame {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-contentInGame {
    background-color: #ffb300;
    margin-top: 30vmin;
    padding-bottom: 4vmin;
    border: 1vmin solid #ffa000;
  }

  .modal-contentInGame li{
    font-family: AngryBirds;
    font-weight: bold;
    font-size: 1vmax;
    padding: 0.5vmin;
  }
  
  /* The Close Button */
  .closeInGame {
    color: #000000;
    padding-left: 95vmax;
    float: inline-end;
    font-size: 3vmax;
    font-weight: bold;
  }
  
  .closeInGame:hover, .closeInGame:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }